<p id="notice"><%= notice %></p>

<p>
  <strong>Area academica:</strong>
  <%= @carrera.area_academica %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @carrera.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @carrera.telefono %>
</p>

<%= link_to 'Edit', edit_carrera_path(@carrera) %> |
<%= link_to 'Back', carreras_path %>
