<%= form_for(@institucion) do |f| %>
  <% if @institucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institucion.errors.count, "error") %> prohibited this institucion from being saved:</h2>

      <ul>
      <% @institucion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel-body nopadding">
  <div class="form-group">
    <%= f.label :nombre, class: 'col-sm-4 control-label' %>
    <div class="col-sm-8"><%= f.text_field :nombre, autocomplete: 'off', placeholder: 'Ingrese nombre de la institucion', class: 'form-control' %></div>
  </div><!-- form-group -->
  <div class="form-group">
    <%= f.label :siglas, class: 'col-sm-4 control-label' %><br>
    <div class="col-sm-8"><%= f.text_field :siglas, autocomplete: 'off', placeholder: 'Ingrese siglas de la institucion', class: 'form-control' %></div>
  </div><!-- form-group -->
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary mr5">Guardar</button>
    <button type="reset" class="btn btn-dark">Limpiar</button>
  </div>
<% end %>
</div><!-- panel-body -->
