<h1>Listing instituciones</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Siglas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instituciones.each do |institucion| %>
      <tr>
        <td><%= institucion.nombre %></td>
        <td><%= institucion.siglas %></td>
        <td><%= link_to 'Show', institucion %></td>
        <td><%= link_to 'Edit', edit_institucion_path(institucion) %></td>
        <td><%= link_to 'Destroy', institucion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institucion', new_institucion_path %>
