<%= form_for(@planificacion) do |f| %>
  <% if @planificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planificacion.errors.count, "error") %> prohibited this planificacion from being saved:</h2>

      <ul>
      <% @planificacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel-body nopadding">
  <div class="form-group">
    <%= f.label :semestre_id, class: 'col-sm-4 control-label' %><br>
    <div class="col-sm-2"><%= f.select :semestre_id, Semestre.all.collect { |s| [ s.nombre, s.id ]}, prompt: 'Seleccione...' %></div>
  </div>
  <div class="form-group">
    <%= f.label :carrera_id, class: 'col-sm-4 control-label' %><br>
    <div class="col-sm-8"><%= f.select :carrera_id, Carrera.all.collect { |c| [ c.nombre, c.id ]}, prompt: 'Seleccione...' %></div>
  </div>
  <div class="form-group">
    <%= f.label :unidad_curricular_id, class: 'col-sm-4 control-label' %><br>
    <div class="col-sm-8"><%= f.select :unidad_curricular_id, UnidadCurricular.all.collect { |u| [ u.nombre, u.id ]}, prompt: 'Seleccione...' %></div>
  </div>
  <div class="form-group">
    <%= f.label :seccion_id, class: 'col-sm-4 control-label' %><br>
    <div class="col-sm-8"><%= f.select :seccion_id, Seccion.all.collect { |s| [ s.nombre, s.id ]}, prompt: 'Seleccione...' %></div>
  </div>
  <div class="form-group">
    <%= f.label :lapsos, class: 'col-sm-4 control-label' %><br>
    <div class="col-sm-8"><%= f.number_field :lapsos, autocomplete: 'off', placeholder: 'Ingrese numero de lapsos', class: 'form-control' %></div>
  </div>
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary mr5">Guardar</button>
    <button type="reset" class="btn btn-dark">Limpiar</button>
</div>
<% end %>
</div><!-- panel-body -->
